<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Test_WeChat</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Oauth2</display-name>
    <servlet-name>Oauth2</servlet-name>
    <servlet-class>com.servlet.Oauth2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Oauth2</servlet-name>
    <url-pattern>/Oauth2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>codeCallback</display-name>
    <servlet-name>codeCallback</servlet-name>
    <servlet-class>com.servlet.codeCallback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>codeCallback</servlet-name>
    <url-pattern>/codeCallback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConfig</display-name>
    <servlet-name>GetConfig</servlet-name>
    <servlet-class>com.servlet.GetConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConfig</servlet-name>
    <url-pattern>/GetConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessages</display-name>
    <servlet-name>SendMessages</servlet-name>
    <servlet-class>com.servlet.SendMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessages</servlet-name>
    <url-pattern>/SendMessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.servlet.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
</web-app>